<h2>Cleanup Options</h2>
<div class="_pea-document">
	<div class="_pea-text-center">
		<a data-href="/<%= genericdocname %>/<%= genericdoc._id %>/delete" class="_pea-button _pea-color-error _pea-text-small _pea-dialog-delete" data-successfunction="<%= genericdocdeletefunction %>" style="line-height:2em">Delete</a>
	</div>
</div>