<h2>Attributes</h2>
<div class="ts-document noFormSubmit">
  <div class="ts-row">
    <input type="text" id="padmin-contenttypes" 
    class="ts-col-span12" placeholder="Content Types" name="contenttypes"/>
  </div>
  <div class="ts-row">
    <input type="text" class="ts-col-span12" 
    id="padmin-tags" placeholder="Tags" name="tags"/>
  </div>
  <div class="ts-row">
    <input type="text" class="ts-col-span12" 
    id="padmin-categories"  placeholder="Categories" name="categories"/>
  </div>
  <div class="ts-row">
    <input type="text" id="padmin-authors" 
    class="ts-col-span12" placeholder="Authors" name="authors"/>
  </div>
</div>
