<input type="hidden" name="_csrf" value=<%= locals.token %> >
<div class="ts-container">
	<div class="ts-row">
		<div class="ts-col-span8">
			<% 
				var genericdoc = item; 
				var genericdocname = "item"; 
				var genericdocdeletefunction = "backToItemLanding"; 
				var genericdocnamelink = "items"; 
				var genericdocTitle = "Item"; 
				var mediaassettitle = "<h2>Content Media</h2>";
			%>
			<% include ../../shared/html_inject_precontent %>			
			<% include ../../shared/compose_content %>
			<% include ../../shared/content_attributes %>
			<% include ../../shared/media_asset %>
			<% include ../../shared/html_inject_postcontent %>
		</div>
		<div class="ts-col-span3 ts-pull-right">
			<% include ../../shared/content_options %>
			<% include ../../shared/content_taxonmy %>
			<% if(genericdoc){%>
				<% include ../../shared/content_revisions %>
				<% include ../../shared/content_delete %>
			<%}%>
		</div>
	</div>
</div>

