<% include ../../shared/header %>

<% include ../../shared/content_taxonmy %>
<script type="text/javascript" defer>
	window.showStylieNotification({message:'item admin js'});
</script>
</div>
<% include ../../shared/footer %>