<% include ../../shared/header %>
<% genericdoctype = "Item" %>
<% genericdoctypelink = "item" %>
<% genericdoctypeplurallink = "items" %>
<% genericdoccount = itemscount %>
<% genericdocpages = itempages %>
<% genericdoc_tktouse = "createdat,updatedat,title,name,content,contenttypes,tags,categories,assets,primaryasset,authors,primaryauthor,changes" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>

    <%- locals.get_data_table_html({
			data: items,
			data_attributes:[
				{label:'Title'},
				{label:'Create Date'},
				{label:'Taxonomy'},
				// {label:'Authors'},
				// {label:'Content Types'},
				// {label:'Tags'},
				// {label:'Categories'},
				{label:'Options'},
			],
			responsive_table :true,
			responsive_collapse: locals.cms_default_responsive_collapse({
				adminPath: locals.adminPath,
				model_name: 'item'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:locals.cms_default_tbody({
				adminPath: locals.adminPath,
				model_name: 'item'
			}),
			custom_tfoot: locals.default_custom_tfoot({
				total:items.length,
				count:itemscount
			})
		}) %>

    <input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/_template_compose_taxonomies %>

<% include ../../shared/footer %>
