<% include ../../shared/header %>
<div class="ts-container">
	<%- JSON.stringify(items,null,' ') %>
	<% console.log(items)%>
<p>new items home</p>
<p>new iwebuwtems home</p>
<p>new items home</p>
<p>new items home</p>
<p>new items home</p>
<p>new items home</p>
<p>new items home</p>
<script type="text/javascript" defer>
	window.showStylieNotification({message:'item admin js'});
</script>
</div>
<% include ../../shared/footer %>
