<% include ../../shared/header %>
<% genericdoctype = "Item" %>
<% genericdoctypelink = "item" %>
<% genericdoctypeplurallink = "items" %>
<% genericdoccount = itemscount %>
<% genericdocpages = itempages %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <% items.forEach(function(genericdoc,i){%>
    <% include ../../shared/genericdoc_list_item %>
    <%})%>
    <input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/_template_compose_taxonomies %>

<% include ../../shared/footer %>
