<% include ../../shared/header %>

<div class="ts-container">
  <div class="ts-text-container">
  	<% genericdoctype = "Item" %>
  	<% genericdoctypelink = "item" %>
    <% items.forEach(function(genericdoc,i){%>
    <% include ../../shared/genericdoc_list_item %>
    <%})%>
  </div>
</div>
<% include ../../shared/footer %>
