<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = item %>
  <% var genericdocid = item._id %>
  <% var genericdoctype = "Item" %>
  <% var genericdoctypename = "item" %>
  <% var genericdoctypelink = "item" %>
  <% var genericdoctypeplurallink = "items" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>