<% include ../../shared/header %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
      <% include ../../shared/genericdoc_show_doc %>
	</div>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>