<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = data %>
  <% var genericdocid = data._id %>
  <% var genericdoctype = "Data" %>
  <% var genericdoctypename = "data" %>
  <% var genericdoctypelink = "data" %>
  <% var genericdoctypeplurallink = "datas" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>