<% include ../../shared/header %>
<div class="ts-container">
  <% genericdoc = data %>
  <% genericdocid = data._id %>
  <% genericdoctype = "Data" %>
  <% genericdoctypename = "data" %>
  <% genericdoctypelink = "data" %>
  <% genericdoctypeplurallink = "datas" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>