<% include ../../shared/header %>
<% genericdoctype = "Compilation" %>
<% genericdoctypelink = "compilation" %>
<% genericdoctypeplurallink = "compilations" %>
<% genericdoccount = compilationscount %>
<% genericdocpages = compilationpages %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <% compilations.forEach(function(genericdoc,i){%>
    <% include ../../shared/genericdoc_list_item %>
    <%})%>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include ../../shared/footer %>
