<% include ../../shared/header %>
<% var genericdoctype = "Compilation" %>
<% var genericdoctypelink = "compilation" %>
<% var genericdoctypeplurallink = "compilations" %>
<% var genericdoccount = compilationscount %>
<% var genericdocpages = compilationpages %>
<% var genericdoc_tktouse = "createdat,updatedat,title,name,content,contenttypes,tags,categories,assets,primaryasset,authors,primaryauthor,changes" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <%- locals.get_data_table_html({
			data: compilations,
			data_attributes:[
				{label:'Title',sortactive:true,sortid:'title',sortorder:'asc'},
				{label:'Create Date',sortactive:true,sortid:'createdat',sortorder:'asc'},
				{label:'Taxonomy'},
				// {label:'Authors'},
				// {label:'Content Types'},
				// {label:'Tags'},
				// {label:'Categories'},
				{label:'Options'},
			],
			responsive_table :true,
			responsive_collapse: locals.cms_default_responsive_collapse({
				adminPath: locals.adminPath,
				model_name: 'compilation'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:locals.cms_default_tbody({
				adminPath: locals.adminPath,
				model_name: 'compilation'
			}),
			custom_tfoot: locals.default_custom_tfoot({
				total:compilations.length,
				count:compilationscount,
				pages:compilationpages,
				currentlimit:request.query.limit,
				currentpage:request.query.pagenum,
			})
		}) %>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include ../../shared/footer %>
