<% include ../../shared/header %>
<div class="ts-container">
	
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<p>new compilations home</p>
<script type="text/javascript" defer>
	window.showStylieNotification({message:'compilation admin js'});
</script>
</div>
<% include ../../shared/footer %>
