<% include ../../shared/header %>
<% genericdoctype = "Compilation" %>
<% genericdoctypelink = "compilation" %>
<% genericdoctypeplurallink = "compilations" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <div>
      <a class="async-admin-ajax-link ts-button ts-pull-right" href="/<%- locals.adminPath %>/content/<%- genericdoctypelink  %>/new">New <%- genericdoctype %></a>
      <h4>Content Management &rsaquo; Compilations</h4>
    </div>

    <% compilations.forEach(function(genericdoc,i){%>
    <% include ../../shared/genericdoc_list_item %>
    <%})%>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include ../../shared/footer %>
