<% include ../../shared/header %>
<div class="ts-container">
  <% genericdoc = compilation %>
  <% genericdocid = compilation._id %>
  <% genericdoctype = "Compilation" %>
  <% genericdoctypename = "compilation" %>
  <% genericdoctypelink = "compilation" %>
  <% genericdoctypeplurallink = "compilations" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>