<% include ../../shared/header %>
<% genericdoctype = "Tag" %>
<% genericdoctypelink = "tag" %>
<% genericdoctypeplurallink = "tags" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <div>
      <a class="ts-open-modal ts-button ts-pull-right"  data-tsmodal-id="new-tag-modal">New <%- genericdoctype %></a>
      <h4>Content Management &rsaquo; Tags</h4>
    </div>

    <% tags.forEach(function(genericdoc,i){%>
    <% include ../../shared/genericdoc_list_taxonomy %>
    <%})%>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include ../../shared/_new_taxonomy_modal %>
<% include ../../shared/footer %>
