<% include ../../shared/header %>
<% genericdoctype = "Tag" %>
<% genericdoctypelink = "tag" %>
<% genericdoctypeplurallink = "tags" %>
<% genericdoccount = tagscount %>
<% genericdocpages = tagpages %>
<% genericdoc_tktouse = "createdat,updatedat,title,name,content,contenttypes,tags,categories,assets,primaryasset,authors,primaryauthor,changes" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <% tags.forEach(function(genericdoc,i){%>
    <% include ../../shared/genericdoc_list_taxonomy %>
    <%})%>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include ../../shared/_new_taxonomy_modal %>
<% include ../../shared/footer %>
