<% include ../../shared/header %>
<div class="ts-container">
  <% genericdoc = tag %>
  <% genericdocid = tag._id %>
  <% genericdoctype = "Tag" %>
  <% genericdoctypename = "tag" %>
  <% genericdoctypelink = "tag" %>
  <% genericdoctypeplurallink = "tags" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>