<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = asset %>
  <% var genericdocid = asset._id %>
  <% var genericdoctype = "Asset" %>
  <% var genericdoctypename = "asset" %>
  <% var genericdoctypelink = "asset" %>
  <% var genericdoctypeplurallink = "assets" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>