<% include ../../shared/header %>
<div class="ts-container">
	<section class="ts-text-container">
		<% include ../../shared/_html_inject_precontent %>
		<% include _index_stats %>
		<% include _index_markdown %>
		<% include ../../shared/_html_inject_postcontent %>
	</section>
</div>
<% include ../../shared/footer %>
