@import "../../../../public/stylesheets/default/periodic.less";
// @import "../../../node_modules/stylie/resources/stylesheets/stylie.less";

.ts{
	body{
    // background: #f7f7f7;
	}
	#nav-header{
		background-color: @primaryTextColor;
		color: @textPrimaryColor;
		#menu-header-stylie{
			margin-left: 2.5em;
		}
	}
	#ts-asyncadmin-content-wrapper{
		margin-top: @sizexl;
		margin-bottom: @sizexl;
	}
	.ts-document{
		margin-top: @sizexs;
		margin-bottom: @sizexs;
		padding: @sizemd;
		.ts-mardown-document{
			max-height: 30em;
			overflow: auto;
			overflow-x: hidden;
			border: 1px solid @primaryTextColor;
			padding: @sizemd;
			margin-top: @sizexl;
			h2{
				display: none;
			}
		}
	}
}