<% include ../../shared/header %>
<% genericdoctype = "Contenttype" %>
<% genericdoctypelink = "contenttype" %>
<% genericdoctypeplurallink = "contenttypes" %>
<% genericdoccount = contenttypescount %>
<% genericdocpages = contenttypepages %>
<% genericdoc_tktouse = "createdat,updatedat,title,name,content,contenttypes,tags,categories,assets,primaryasset,authors,primaryauthor,changes" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <!-- < % contenttypes.forEach(function(genericdoc,i){%>
    < % include ../../shared/genericdoc_list_contenttype %>
    < %})%> -->
    <%- locals.get_data_table_html({
			data: contenttypes,
			data_attributes:[
				{label:'Title',sortactive:true,sortid:'title',sortorder:'asc'},
				{label:'Create Date',sortactive:true,sortid:'createdat',sortorder:'asc'},
				{label:'Attributes'},
				// {label:'Authors'},
				// {label:'Content Types'},
				// {label:'Tags'},
				// {label:'Categories'},
				{label:'Options'},
			],
			responsive_table :true,
			responsive_collapse: locals.cms_default_responsive_collapse({
				adminPath: locals.adminPath,
				model_name: 'contenttype'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:locals.cms_default_tbody({
				adminPath: locals.adminPath,
				model_name: 'contenttype'
			}),
			custom_tfoot: locals.default_custom_tfoot({
				total:contenttypes.length,
				count:contenttypescount,
				pages:contenttypepages,
				currentlimit:request.query.limit,
				currentpage:request.query.pagenum,
			})
		}) %>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include _new_contenttype_modal %>
<% include ../../shared/footer %>
