<% include ../../shared/header %>
<div class="ts-container">
  <% genericdoc = contenttype %>
  <% genericdocid = contenttype._id %>
  <% genericdoctype = "Contenttype" %>
  <% genericdoctypename = "contenttype" %>
  <% genericdoctypelink = "contenttype" %>
  <% genericdoctypeplurallink = "contenttypes" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>