<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = contenttype %>
  <% var genericdocid = contenttype._id %>
  <% var genericdoctype = "Contenttype" %>
  <% var genericdoctypename = "contenttype" %>
  <% var genericdoctypelink = "contenttype" %>
  <% var genericdoctypeplurallink = "contenttypes" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>