<% include ../../shared/header %>
<% var genericdoctype = "Category" %>
<% var genericdoctypelink = "category" %>
<% var genericdoctypeplurallink = "categories" %>
<% var genericdoccount = categoriescount %>
<% var genericdocpages = categorypages %>
<% var genericdoc_tktouse = "createdat,updatedat,title,name,content,contenttypes,tags,categories,assets,primaryasset,authors,primaryauthor,changes" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <!-- < % categories.forEach(function(genericdoc,i){%>
    < % include ../../shared/genericdoc_list_taxonomy %>
    < %})%> -->
    <%- locals.get_data_table_html({
			data: categories,
			data_attributes:[
				{label:'Title',sortactive:true,sortid:'title',sortorder:'asc'},
				{label:'Create Date',sortactive:true,sortid:'createdat',sortorder:'asc'},
				{label:'Attributes'},
				// {label:'Authors'},
				// {label:'Content Types'},
				// {label:'Tags'},
				// {label:'Categories'},
				{label:'Options'},
			],
			responsive_table :true,
			responsive_collapse: locals.cms_default_responsive_collapse({
				adminPath: locals.adminPath,
				model_name: 'category'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:locals.cms_default_tbody({
				adminPath: locals.adminPath,
				model_name: 'category'
			}),
			custom_tfoot: locals.default_custom_tfoot({
				total:categories.length,
				pages:categorypages,
				currentlimit:request.query.limit,
				currentpage:request.query.pagenum,
				count:categoriescount
			})
		}) %>
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
  </div>
</div>
<% include ../../shared/_new_taxonomy_modal %>
<% include ../../shared/footer %>
