<% include ../../shared/header %>
<div class="ts-container">
  <% genericdoc = category %>
  <% genericdocid = category._id %>
  <% genericdoctype = "Category" %>
  <% genericdoctypename = "category" %>
  <% genericdoctypelink = "category" %>
  <% genericdoctypeplurallink = "categories" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>