<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = category %>
  <% var genericdocid = category._id %>
  <% var genericdoctype = "Category" %>
  <% var genericdoctypename = "category" %>
  <% var genericdoctypelink = "category" %>
  <% var genericdoctypeplurallink = "categories" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>