<% include ../../shared/header %>
<div class="ts-container">
	
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<p>new collections home</p>
<script type="text/javascript">
	console.log('collections admin js');
</script>
</div>
<% include ../../shared/footer %>
