<% include ../../shared/header %>
<div class="ts-container">
  <% var genericdoc = collection %>
  <% var genericdocid = collection._id %>
  <% var genericdoctype = "Collection" %>
  <% var genericdoctypename = "collection" %>
  <% var genericdoctypelink = "collection" %>
  <% var genericdoctypeplurallink = "collections" %>

  <% include ../../shared/genericdoc_show_revisions %>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>